"*":
  "exception-reporting":
    userId: ...
  "welcome":
    showOnStartup: false
  "core": {}
  "editor":
    invisibles: {}
    fontSize: 16
    showIndentGuide: true
    scrollPastEnd: true
    undoGroupingInterval: 100
  "advanced-open-file":
    createFileInstantly: true
  "atom-beautify":
    _analyticsUserId: ...
    html_end_with_newline: true
    html_max_preserve_newlines: 2
    js_max_preserve_newlines: 2
    js_jslint_happy: true
    js_eval_code: true
    js_keep_array_indentation: true
    js_keep_function_indentation: true
    js_space_after_anon_function: true
    js_end_with_newline: true
    language_js_beautify_on_save: false
    language_json_beautify_on_save: false
    language_markdown_beautify_on_save: false
  "clipboard-plus":
    minimumTextLength: 1
    maximumTextLength: 5000
    maximumLinesNumber: 6
  "file-icons":
    onChanges: true
  "open-recent":
    maxRecentFiles: 6
    maxRecentDirectories: 10
  "pigments":
    markerType: "dot"
