# https://atom.io/docs/latest/using-atom-snippets

'.source.js':
  'Mocha Describe':
    'prefix': 'describe'
    'body': """
      describe('$1', () => {
        $2
      })
    """
  'Mocha Context':
    'prefix': 'context'
    'body': """
      context('$1', () => {
        $2
      })
    """
  'Mocha BeforeEach':
    'prefix': 'beforeEach'
    'body': """
      beforeEach(() => {
        $1
      })
    """
  'Mocha BeforeEach async':
    'prefix': 'beforeEachasync'
    'body': """
      beforeEach(async () => {
        $1
      })
    """
  'Mocha Before':
    'prefix': 'before'
    'body': """
      before(() => {
        $1
      })
    """
  'Mocha AfterEach':
    'prefix': 'afterEach'
    'body': """
      afterEach(() => {
        $1
      })
    """
  'Mocha AfterEach async':
    'prefix': 'afterEachasync'
    'body': """
      afterEach(async () => {
        $1
      })
    """
  'Mocha After':
    'prefix': 'after'
    'body': """
      after(() => {
        $1
      })
    """
  'Mocha It':
    'prefix': 'it'
    'body': """
      it('should $1', () => {
        $2
      })
    """
  'Mocha It async':
    'prefix': 'itasync'
    'body': """
      it('should $1', async () => {
        $2
      })
    """
